<% layout("/layouts/bolierplate.ejs") %>
<body>
    <h1>ALL LISTINGS</h1>
    <form method="get" action = "/visting/new">
        <button> add new listing</button>
    </form>
    <ul>
        <% for (let visting of allvistings) { %>
            <li>
                <p><a href = "visting/<%= visting.id%>"><%= visting.title %></a></p>
            </li>
        <% } %>
    </ul>
</body>

